section{
    display: flex;
    flex-direction: column;
}

.link, h1{
    text-align: center;
}

.image{
    margin-top: 5rem;
    display: flex;
    margin-right: 40px;
}

img{
    width: auto;
    height: 400px;
    
}